<%= nested_form_for(@grid) do |f| %>
    <% if @grid.errors.any? %>
        <div class="alert alert-error" id="error_explanation">
          <h2><%= pluralize(@grid.errors.count, "error") %> prohibited this grid from being saved:</h2>

          <ul>
            <% @grid.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :path %>
      <br/>
      <%= f.text_field :path %>
    </div>

    <h2>Containers</h2>
    <%= f.fields_for :containers do |container_form| %>
        <%= render 'container_fields', :f => container_form %>
    <% end %>
    <p>
      <%= f.link_to_add "Add a container link", :containers %>
    </p>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
