<h1>Listing grids</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grids.each do |grid| %>
  <tr>
    <td><%= grid.name %></td>
    <td><%= grid.path %></td>
    <td><%= link_to 'Show', grid %></td>
    <td><%= link_to 'Edit', edit_grid_path(grid) %></td>
    <td><%= link_to 'Destroy', grid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<% content_for :contextual_menu do %>
	<li><%= link_to 'New Grid', new_grid_path %></li>
<% end %>
