<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @grid.name %>
</p>

<p>
  <b>Path:</b>
  <%= @grid.path %>
</p>

<p>
  <b>Containers:</b>
</p>
<ol>
  <% for container in @grid.containers %>
      <li>
        <b>Width:</b>
        <%= container.width.name %>
        <br/>

        <b>Data sizes:</b>
        <%= container.data_sizes %>
        <br/>

        <b>Pictures:</b>
        <%= container.pictures %>;

        <b> Text:</b>
        <%= container.text %>;

        <b> Video:</b>
        <%= container.video %>

      </li>
  <% end %>
</ol>

<% content_for :contextual_menu do %>
	<li><%= link_to 'Back', grids_path %></li>
	<li><%= link_to 'Edit', edit_grid_path(@grid) %></li>

<% end %>