<% content_for :head do %>

    <!--title></title -->
    <%= javascript_include_tag "/ckeditor/ckeditor.js" %><!-- Load the mandatory text editor engine -->
    <%= javascript_include_tag "/ckeditor/ckeditor_browser_support.js" %><!-- Load a browser compatibility checker -->
    <%=# javascript_include_tag "/ckeditor/config.js"
    %><!-- Load the text editor configuration. If omitted, the default
     settings will apply -->
<% end %>



<%= nested_form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :headline %><br />
    <%= f.text_field :headline %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>

  <% status_list = {'Draft' => 'Draft', 'Approved' => 'Approved', 'Published' => 'Published'} %>
  <div class="field">
    <%= f.label :status %><br />
    <%=# f.text_field :status
    %>
    <%= f.select :status, status_list %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area(:text, :rows => 20, :class => 'ckeditor span8') %>
  </div>



    <h2>Pictures Gallery</h2>
    <%= render 'gallery'%>


    <h2>Upload Pictures</h2>
    <%= f.fields_for :assets do |asset_form| %>
        <%= render 'asset_fields', :f => asset_form %>
    <% end %>
    <p>
      <%= f.link_to_add "Add Picture", :assets %>
    </p>


              <div class="thumbnail">
                <%= link_to( image_tag(asset_fields.object.asset.url(:thumb)), asset_fields.object.asset.url(:original) ) %>
              <%=# asset_fields.check_box :_delete
              %>
              </div>





  
  <div class="field">
  	<%= f.label :magazine_id %><br />
  	<%= #f.select :magazine_id, Magazine.find(:all, :order => "name, date").collect{|s|
  		#[(s.name + " " + s.date.to_s), s.id]}
      %>
    <%= f.select :magazine_id, Magazine.order("name, date").all.collect{|s|
      [(s.name + " " + s.date.to_s), s.id]} %>
  </div>

  <div class="field">
    <%= f.label :grid_id %><br />
    <%= f.select :grid_id, Grid.find(:all, :order => "name").collect{|s|
        [(s.name), s.id]} %>
  </div>

    <h2>YouTube video links</h2>
  <%= f.fields_for :videolinks do |videolink_form| %>
        <%= render 'videolink_fields', :f => videolink_form %>
  <% end %>
  <p>
    <%= f.link_to_add "Add a video link", :videolinks %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
