
<%= nested_form_for(@article, :html => {:multipart => true, :class=>'form-horizontal'}) do |f| %>
  <% if @article.errors.any? %>
    <div class="alert alert-error" id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Article</a></li>
        <li><a href="#tab2" data-toggle="tab">Choose a Grid</a></li>
        <li><a href="#tab3" data-toggle="tab">Upload Pictures</a></li>
        <li><a href="#tab4" data-toggle="tab">Upload YouTube Videos</a></li>
      </ul>

      <div class="tab-content">
        <!-- Tab 1 ====================================== -->
        <div class="tab-pane active" id="tab1">


           <div class="control-group">
            <%= f.label :title, :class => "control-label" %>
            <div class="controls">
            <%= f.text_field :title %>
            </div>
          </div>


          <div class="control-group">
            <%= f.label :headline, :class => "control-label" %>
            <div class="controls">
            <%= f.text_field :headline %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :author, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :author %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :date, :class => "control-label" %>
            <div class="controls">
            <%= f.date_select :date %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :version, :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :version %>
            </div>
          </div>

          <% status_list = {'Draft' => 'Draft', 'Approved' => 'Approved', 'Published' => 'Published'} %>
          <div class="control-group">
            <%= f.label :status, :class => "control-label" %>
            <div class="controls">
              <%= f.select :status, status_list %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label 'Magazine Issue', :class => "control-label" %>
            <div class="controls">
              <%= f.select :magissue_id, Magissue.order("magazine_id", "date").all.collect {
                      |s| [(s.magazine.name + ": " + s.date.to_s), s.id] } %>
            </div>
          </div>


          <div class="control-group">
            <%= f.label :text, :class => "control-label" %>
            <div class="controls">
              <%= f.text_area(:text, :rows => 20, :class => 'ckeditor span8') %>
            </div>
          </div>


        </div>

        <!-- Tab 2 =============================================== -->
        <div class="tab-pane" id="tab2">
          <h2>Available Article Grids</h2>
          <br>

          <fieldset>
            <legend>Grids</legend>
            <% Grid.order("name").all.collect.each do |g| %>
                <%= f.radio_button :grid_id, g.id %>
                <label for="<%= ("article_grid_" + g.name.downcase) %>"><%= g.name %></label>
                <br/>
                <!-- Carousel =================== -->
                <div class="container-fluid">
                  <div class="row-fluid">
                    <div class="carousel slide" data-interval="false" id="<%= 'myCarousel'+ g.name.downcase %>">
                      <div class="carousel-inner">
						  <% @files = Dir.glob("app/assets/templates/grids/thumbs/#{g.name.downcase}/*.png")%>
						  <%
						  	carousel_size = 4
							remaining_files = @files.length
							offset = 0  
						  %>
						  <% while remaining_files >= carousel_size %>
							  <% if offset == 0 %>
								  <div class="item active">
							  <% else %>
								  <div class="item">
							  <% end %>
									  <ul class="thumbnails">
										  <% end_index = offset + carousel_size - 1 %>
										  <% for i in offset..end_index %>
											  <li class="span3">
												  <div class="thumbnail">
													  <%= image_tag "grids/thumbs/#{g.name.downcase}/#{File.basename(@files[i])}" %>
												  </div>
											  </li>
										  <% end %>
	                          
									  </ul>
								  </div>
								  <% 
									  offset += carousel_size
									  remaining_files -= carousel_size	
								   %>
								  
						  <% end %>
						  <% if remaining_files < 4 and remaining_files > 0%>
						  <% if offset == 0 %>
								  <div class="item active">
							  <% else %>
								  <div class="item">
							  <% end %>
									  <ul class="thumbnails">										  
										  <% for i in offset..(@files.length - 1) %>
											  <li class="span3">
												  <div class="thumbnail">
													  <%= image_tag "grids/thumbs/#{g.name.downcase}/#{File.basename(@files[i])}" %>
												  </div>
											  </li>
										  <% end %>
	                          
									  </ul>
								  </div>
						  <% end %>

                      </div>
                      <a class="carousel-control left" href="#<%='myCarousel'+ g.name.downcase %>" data-slide="prev">&lsaquo;</a>
                      <a class="carousel-control right" href="#<%='myCarousel'+ g.name.downcase%>" data-slide="next">&rsaquo;</a>

                    </div>


                  </div>

                </div>

                <!-- End ======================== -->
            <% end %>
          </fieldset>
          <%# Grid.order("name").all.collect.each do |s|
           %><!--

              <input type="radio"> Choose Grid <%#= s.name
               %>-->
              <%#= render 'gallery'
               %>


          <%# end
          %>
        </div>


      <!-- Tab 3 =============================================== -->
        <div class='tab-pane' id="tab3">

          <h2>Upload Pictures</h2>

          <div class="control-group">
            <div class="controls">
              <%= f.fields_for :assets do |asset_form| %>
                  <%= render 'asset_fields', :f => asset_form %>

              <% end %>
            </div>
            <div class="controls">
              <%= f.link_to_add "Add Picture", :assets %>
            </div>
          </div>
        </div>



        <!-- Tab4 ================================================= -->
        <div class='tab-pane' id="tab4">

          <h2>YouTube video links</h2>
          <%= f.fields_for :videolinks do |videolink_form| %>
              <%= render 'videolink_fields', :f => videolink_form %>
          <% end %>
          <p>
            <%= f.link_to_add "Add a video link", :videolinks %>
          </p>
        </div>


    </div>
    <br/>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>


