<% content_for :head do %>
    <!-- Load the mandatory text editor engine -->
    <%= javascript_include_tag "/ckeditor/ckeditor.js" %>
	<!-- Load a browser compatibility checker -->
    <%= javascript_include_tag "/ckeditor/ckeditor_browser_support.js" %>

<% end %>

<!-- <%# content_for :nontreesaver do
 %> -->
<h1>Editing article</h1>

<%= render 'form' %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>

<!-- <%# end
 %> -->