<% content_for :head do %>
    <title><%= @title || "Jaywebmag" %></title>
    <meta name="description" content="trial">
    
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

<% end %>

<% content_for :nontreesaver do %>

<h1>New article</h1>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>

<% end %>