
<% current_magazine_issue = @article.magissue %>

<% content_for :head do %>

    <title><%= @article.headline %></title>
    <%= stylesheet_link_tag(current_magazine_issue.magtemplate.path) %>
    <link rel="resources" href="/resources.html"/>
    <link rel="index" href="<%= url_for(content_index_magissue_path(current_magazine_issue)) %>" type="application/json"/>
    <%= javascript_include_tag("treesaver-0.10.0-debug") %>
    <!-- FaceBook like -->
    <%= javascript_include_tag("/fb_like") %>
    <!-- end -->
    <!-- LinkedIn share -->
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <!-- end -->
    <!-- Twitter -->
    <%= javascript_include_tag("/twitter") %>
    <!-- end -->

<% end %>


<!--
 <p>Reading
 <%#= current_magazine.name
%>, volume <%#= current_magazine.volume
 %>,
  No <%#= current_magazine.number
   %>, <%#= current_magazine.date
    %></p>
     -->
<% content_for :treesaver do %>
<article data-grids="<%= @article.grid.name %>">
    <figure>
      <h2 data-sizes="title fallback">
        <span class="chapter"><%= @article.title %></span>
        <%= @article.headline %>
      </h2>
    </figure>

  <p> <%= @article.text.html_safe %></p>



  <% unless @article.assets.blank? or @article.grid.containers.blank? %>

      <% picture_containers = @article.grid.containers.where(:pictures => true) %>

      <% @article.assets.each do |v| %>
          <figure class="zoomable">
            <% picture_containers.each do |c| %>
                <% picture_width = c.width.sizes.find {
                        |s| s.magtemplate.id == current_magazine_issue.magtemplate.id }.value %>
                <%= v.picture_html_code(picture_width, c.data_sizes.sub('title ', '')) %>
            <% end %>
          </figure>

      <% end %>
  <% end %>


  <!-- Naoufal: experimental: embedding YouTube video links ==================== -->

  <% unless @article.videolinks.blank? or @article.grid.containers.blank? %>
      <% embedded_videolinks = @article.videolinks.where(:embedded => true) %>
      <% video_containers = @article.grid.containers.where(:video => true) %>

      <% embedded_videolinks.each do |v| %>
          <figure>
            <% video_containers.each do |c| %>
                <% video_width = c.width.sizes.find {
                        |s| s.magtemplate.id == current_magazine_issue.magtemplate.id }.value %>
                <%= v.videolink_html_code(video_width, c.data_sizes.sub('title ', '')) %>
            <% end %>
          </figure>

      <% end %>
      <%# (0..embedded_videolinks.length-1).each do |i|
       %>
          <%#=embedded_videolinks[i].videolink_html_code(video_containers[(i % video_containers.length)], current_magazine)
              %>
      <%# end
      %>


  <% end %>
  <!-- ============================================== -->
</article>
<% end %>
