
<% current_magazine = @article.magazine %>

<% content_for :head do %>

    <title><%= @article.headline %></title>
    <%= stylesheet_link_tag(current_magazine.magtemplate.path) %>
    <link rel="resources" href="/resources.html"/>
    <link rel="index" href="<%= url_for(content_index_magazine_path(current_magazine)) %>" type="application/json"/>
    <%= javascript_include_tag("treesaver-0.10.0-debug") %>

<% end %>


<!--p>Reading <!--%= current_magazine.name %>, volume <!--%= current_magazine.volume %>,
  No <!--%= current_magazine.number %>, <!--%= current_magazine.date %></p -->
<% content_for :treesaver do %>
<article data-grids="<%= @article.grid.name %>">
    <figure>
      <h2 data-sizes="title fallback">
        <span class="chapter"><%= @article.title %></span>
        <%= @article.headline %>
      </h2>
    </figure>

  <!-- Naoufal: experimental: embedding YouTube video links ------------------>

  <% unless @article.videolinks.blank? or @article.grid.containers.blank? %>
      <% embedded_videolinks = @article.videolinks.where(:embedded => true) %>
      <% video_containers = @article.grid.containers.where(:video => true) %>
      <% if embedded_videolinks.length > video_containers.length %>
          <% for i in (0..video_containers.length-1) %>
              <%= embedded_videolinks[i].videolink_html_code(video_containers[i], current_magazine) %>
          <% end %>
      <% else %>
          <% (0..embedded_videolinks.length-1).each do |i| %>
              <%= embedded_videolinks[i].videolink_html_code(video_containers[i], current_magazine) %>
          <% end %>
      <% end %>

  <% end %>
  <!------------------------------------------->
    <p> <%= @article.text.html_safe %></p>
</article>
<% end %>
<!--%= link_to 'New Magazine', new_magazine_path % -->
