<h1>Listing widths</h1>

<table class="table">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @widths.each do |width| %>
  <tr>
    <td><%= width.id %></td>
    <td><%= width.name %></td>
    <td><%= link_to 'Show', width %></td>
    <td><%= link_to 'Edit', edit_width_path(width) %></td>
    <td><%= link_to 'Destroy', width, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Width', new_width_path %>
