<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @videolink.title %>
</p>

<p>
  <b>Embed code:</b>
  <%= @videolink.embed_code %>
</p>

<p>
  <b>Embedded:</b>
  <%= @videolink.embedded %>
</p>

<p>
  <b>Article:</b>
  <%= @videolink.article_id %>
</p>


<% content_for :contextual_menu do %>
	<li><%= link_to 'Back', videolinks_path %></li>
	<li><%= link_to 'Edit', edit_videolink_path(@videolink) %></li>

<% end %>