<%= form_for(@magtemplate) do |f| %>
  <% if @magtemplate.errors.any? %>
    <div class="alert alert-error" id="error_explanation">
      <h2><%= pluralize(@magtemplate.errors.count, "error") %> prohibited this magtemplate from being saved:</h2>

      <ul>
      <% @magtemplate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :path, "Associated file name" %><br />
    <%= f.text_field :path %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
