<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @magtemplate.name %>
</p>

<p>
  <b>Path:</b>
  <%= @magtemplate.path %>
</p>


<%= link_to 'Edit', edit_magtemplate_path(@magtemplate) %> |
<%= link_to 'Back', magtemplates_path %>
