<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @magtemplate.name %>
</p>

<p>
  <b>Path:</b>
  <%= @magtemplate.path %>
</p>


<% content_for :contextual_menu do %>
	<li><%= link_to 'Back', magtemplates_path %></li>
	<li><%= link_to 'Edit', edit_magtemplate_path(@magtemplate) %></li>
	
<% end %>