<h1>Listing magazines</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Volume</th>
    <th>Number</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @magazines.each do |magazine| %>
  <tr>
    <td><%= magazine.name %></td>
    <td><%= magazine.date %></td>
    <td><%= magazine.volume %></td>
    <td><%= magazine.number %></td>
    <td><%= magazine.status %></td>
    <!-- Naoufal -->
    <td><%= link_to 'Read', read_article_path(1) %></td>
    <td><%= link_to 'TOC', toc_magazine_path(magazine) %></td>
    <!-- end Naoufal -->

    
  </tr>
<% end %>
</table>

<br />

