<h3><%= @magazine.name %></h3>
<%= form_tag unassign_articles_path, :method => :put do %>
    <%= hidden_field_tag 'magazine', @magazine.id %>
    <div class="scrollable">
    <% if @magazine.magissues.blank? %>
        <b>No issues yet!</b>
    <% else %>
        <% @magazine.magissues.each do |issue| %>

              <table class="table table-hover table-condensed">
                <thead>
                <tr>

                  <th>Issue</th>
                  <th>Volume</th>
                  <th>Nr.#</th>
                  <th>Status</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>

                  <td><%= link_to issue.date, issue %></td>
                  <td><%= issue.volume %></td>
                  <td><%= issue.number %></td>
                  <td><%= issue.status %></td>
                </tr>
                </tbody>

                <table class="table table-hover table-condensed span7 offset1">
                  <thead>
                  <tr>
                    <th>Articles</th>
                  </tr>
                  </thead>
                  <% if (articles = issue.articles).blank? %>
                      <thead>
                      <tr>
                        <th>No articles assigned.</th>
                      </tr>
                      </thead>
                  <% else %>
                      <thead>
                          <tr>
                            <th>Headline</th>
                            <th>Author</th>
                            <th>Status</th>
                            <th>Unassign</th>
                          </tr>
                      </thead>
                      <tbody>
                      <% articles.each do |article| %>
                          <tr>
                            <td><%= article.headline %></td>
                            <td><%= article.author %></td>
                            <td><%= article.status %></td>
                            <td>
                              <% unless issue.status == 'Published' %>
                                  <%= check_box_tag "article_ids[]", article.id %>
                              <% end %>
                            </td>
                          </tr>
                      <% end %>
                      </tbody>
                  <% end %>
                </table>
        <% end %>

        </table>

    <% end %>
    </div>
    <%= submit_tag "Un-assign articles", class: 'btn' %>
<% end %>

<br/>
<h4>Un-assigned articles</h4>
<% unassigned_articles = Article.where({:magissue_id => nil}).all
    unpublished_issues = @magazine.magissues.where({:status => 'Not Published'}) %>
<%= form_tag assign_articles_path, :method => :put do %>
    <%= hidden_field_tag 'magazine', @magazine.id %>
    <div class="scrollable">
      <table class="table table-hover table-condensed span8">
        <thead>
        <tr>
          <th>Headline</th>
          <th>Author</th>
          <th>Status</th>
          <th>Unassign</th>
        </tr>
        </thead>
        <tbody>
        <% unassigned_articles.each do |article| %>
            <tr>
              <td><%= article.headline %></td>
              <td><%= article.author %></td>
              <td><%= article.status %></td>
              <td>
                <%= fields_for "articles[]", article do |f| %>
                    <%= f.select :magissue_id, unpublished_issues.order("date").all.collect{|s| [(s.date.to_s), s.id]},
                                 :include_blank => true %>
                <% end %>
              </td>
              <!--<td><%#= check_box_tag "article_ids[]", article.id
                      %>
          </td>-->
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <br/>
    <%= submit_tag "Assign articles", class: 'btn' %>
<% end %>


<% content_for :local_menu do %>

    <li><%= link_to 'Magazines', magazines_path, class: 'context-menue' %></li>
	<li><%= link_to @magazine.name, magazine_path(@magazine), class: 'context-menue' %></li>

<% end %>