
<% content_for :head do %>

    <title><%= @magazine.name %> | Cover</title>
    <%= stylesheet_link_tag(@magazine.magtemplate.path) %>
    <link rel="resources" href="/resources.html"/>
    <link rel="index" href="<%= url_for(content_index_magazine_path(@magazine)) %>" type="application/json"/>
    <%= javascript_include_tag("treesaver-0.10.0-debug") %>

<% end %>

<% content_for :treesaver do %>
<article data-grids="cover">

  <figure>
    <h2 data-sizes="title fallback">
      <span class="magazinename"><%= @magazine.name %></span>
      <!--span class="author">Lewis Carroll</span -->
    </h2>
  </figure>

</article>
<% end %>