<p id="notice"><%= notice %></p>

<!-- <p> -->
  <!-- <b>Name:</b> -->
  <h3><%= @magazine.name %></h3>
<!-- </p> -->

<% unless @magazine.magissues.blank? %>
      <h4>Issues</h4>
    <ol>
      <% @magazine.magissues.each do |issue| %>
        <li>
           <%= link_to issue.date, magissue_path(issue) %>
        </li>
    <% end %>
    </ol>
<% end %>
<%= link_to 'Edit', edit_magazine_path(@magazine) %> |
<%= link_to 'Back', magazines_path %>
