<% content_for :head do %>

    <title><%= @magazine.name %> | TOC</title>
    <%= stylesheet_link_tag(@magazine.magtemplate.path) %>
    <link rel="resources" href="/resources.html"/>
    <link rel="index" href="<%= url_for(content_index_magazine_path(@magazine)) %>" type="application/json"/>
    <%= javascript_include_tag("treesaver-0.10.0-debug") %>

<% end %>

<% content_for :treesaver do %>
    <article data-grids="toc">

      <h1>Table Of Contents</h1>
      <% for article in @magazine.articles %>
          <div class="toc-link">
            <h3 ><%= link_to article.title, read_article_path(article), { :magazine => @magazine} %></h3>
            <!--p itemprop="byline"><!-- %= article.author %></p -->
          </div>
      <% end %>

    </article>


<% end %>