<%= form_for @container, :html=>{:class=>'form-horizontal'}  do |f| %>
  <% if @container.errors.any? %>
    <div class="alert alert-error" id="error_explanation">
      <h2><%= pluralize(@container.errors.count, "error") %> prohibited this container from being saved:</h2>

      <ul>
      <% @container.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :grid_id, :class => "control-label" %>
      <div class="controls">
        <%= f.select :grid_id, Grid.order("name").collect{|s| [(s.name), s.id]}  %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :width_id, :class=>"control-label" %>
      <div class="controls">
      <%= f.select :width_id, Width.order("name").collect{|s| [(s.name), s.id]} %>
    </div>
   </div>

  <div class="control-group">
    <%= f.label :data_sizes, :class=>"control-label"%>
    <div class='controls'>
    <%= f.text_field :data_sizes %>
    </div>
  </div>


    <div class="control-group">
    <%= f.label :pictures, :class => "control-label" %>
     <div class="controls">

    <%= f.check_box :pictures, :class=>"checkbox inline" %>

    </div>
  </div>

  <div class="control-group">

    <%= f.label :text, :class => "control-label" %>

    <div class="controls">
      <%= f.check_box :text,:class=>"checkbox inline" %>

    </div>
  </div>

  <div class="control-group">

    <%= f.label :video, :class => "control-label" %>

   <div class="controls">
    <%= f.check_box :video,:class=>"checkbox inline" %>

   </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
