<%= form_for @magissue,:html => {:class=>'form-horizontal'} do |f| %>
    <% if @magissue.errors.any? %>
        <div class="alert alert-error" id="error_explanation">
          <h2><%= pluralize(@magissue.errors.count, "error") %> prohibited this magazine from being saved:</h2>

          <ul>
            <% @magissue.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Issue</a></li>
        <li><a href="#tab2" data-toggle="tab">Choose Template</a></li>
      </ul>
      <div class="tab-content">
        <!-- Tab 1 ====================================== -->

        <div class="tab-pane active" id="tab1">

          <div class="control-group">
            <%= f.label :magazine_id, :class => "control-label" %>
            <div class="controls">
              <%= f.select :magazine_id, Magazine.order("name").all.collect { |s| [(s.name), s.id] } %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :date, :class => "control-label" %>
            <div class="controls">
              <%= f.date_select :date %>
            </div>
          </div>

          <div class="control-group ">
            <%= f.label :volume, :class => "control-label" %>
            <div class="controls">
              <%= f.number_field :volume %>
            </div>
          </div>


          <div class="control-group">
            <%= f.label :number, :class =>"control-label" %>
            <div class ="controls">
              <%= f.number_field :number  %>
            </div>
          </div>


          <% status_list = {'Not Published' => 'Not Published', 'Published' => 'Published'} %>
          <div class="control-group">
            <%= f.label :status, :class =>"control-label" %>
            <div class ="controls">
              <%= f.select :status, status_list  %>
            </div>
          </div>

        </div>


          <!-- Tab 2 =============================================== -->
        <div class="tab-pane" id="tab2">
          <h2>Available Magazine Templates</h2>
          <br>

          <fieldset>
            <legend>Templates</legend>
            <% Magtemplate.order("name").all.collect.each do |t| %>
                <%= f.radio_button :magtemplate_id, t.id %>
                <label for="<%= ("magissue_template_" + t.name.downcase) %>"><%= t.name %></label>
                <br/>
                <!-- Carousel =================== -->
                <div class="container-fluid">
                  <div class="row-fluid">
                    <div class="carousel slide" data-interval="false" id="<%= 'myCarousel'+ t.name.downcase %>">
                      <div class="carousel-inner">
                        <% @files = Dir.glob("app/assets/templates/#{t.name.downcase}/thumbs/template/*.png")%>
                        <%
                           carousel_size = 4
                           remaining_files = @files.length
                           offset = 0
                        %>
                        <% while remaining_files >= carousel_size %>
                            <% if offset == 0 %>
                                <div class="item active">
                            <% else %>
                                <div class="item">
                            <% end %>
                            <ul class="thumbnails">
                              <% end_index = offset + carousel_size - 1 %>
                              <% for i in offset..end_index %>
                                  <li class="span3">
                                    <div class="thumbnail">
                                      <%= image_tag "#{t.name.downcase}/thumbs/template/#{File.basename(@files[i])}" %>
                                    </div>
                                  </li>
                              <% end %>

                            </ul>
                            </div>
                            <%
                               offset += carousel_size
                               remaining_files -= carousel_size
                            %>

                        <% end %>
                        <% if remaining_files < 4 and remaining_files > 0%>
                            <% if offset == 0 %>
                                <div class="item active">
                            <% else %>
                                <div class="item">
                            <% end %>
                            <ul class="thumbnails">
                              <% for i in offset..(@files.length - 1) %>
                                  <li class="span3">
                                    <div class="thumbnail">
                                      <%= image_tag "#{t.name.downcase}/thumbs/template/#{File.basename(@files[i])}" %>
                                    </div>
                                  </li>
                              <% end %>

                            </ul>
                            </div>
                        <% end %>

                        </div>
                        <a class="carousel-control left" href="#<%='myCarousel'+ t.name.downcase %>" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#<%='myCarousel'+ t.name.downcase%>" data-slide="next">&rsaquo;</a>

                        </div>


                      </div>

                    </div>

                    <!-- End ======================== -->
            <% end %>
          </fieldset>

        </div>
      </div>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
