
<% content_for :head do %>

<title><%= @magissue.magazine.name %> | Cover</title>
    <%= stylesheet_link_tag(
	"#{@magissue.magtemplate.name.downcase}/#{@magissue.magtemplate.path}") %>
    <link rel="resources prefetch" href="/resources.html"/>
    <link rel="index" href="<%= url_for(content_index_magissue_path(@magissue)) %>" type="application/json"/>
    <%= javascript_include_tag("treesaver-0.10.0-debug") %>
    <!-- FaceBook like -->
    <%= javascript_include_tag("/fb_like") %>
    <!-- end -->
    <!-- LinkedIn share -->
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <!-- end -->
    <!-- Twitter -->
    <%= javascript_include_tag("/twitter") %>
    <!-- end -->

<% end %>

<% content_for :treesaver do %>
<article data-grids="cover">

  <figure>
    <h2 data-sizes="title fallback">
      <span class="magazinename"><%= @magissue.magazine.name %></span>
      <!--span class="author">Lewis Carroll</span -->
    </h2>
  </figure>

</article>
<% end %>