<% @title= "Jaywebmag" %>

<% articles = @magissue.articles %>

<p id="notice"><%= notice %></p>

<p class="lead">
  <b>Magazine:</b>
  <%= @magissue.magazine.name %>
</p>

<p  class="lead">
  <b>Issue:</b>
  <%= @magissue.date %>
</p>

<p>
  <b>Volume:</b>
  <%= @magissue.volume %>
</p>

<p>
  <b>Number:</b>
  <%= @magissue.number %>
</p>

<p>
  <b>Status:</b>
  <%= @magissue.status %>
</p>

<p>
  <b>Template:</b>
  <%= @magissue.magtemplate.name %>
</p>
<br/>
<h3>Articles</h3>


<% if articles.blank?%>
	<h4>There are no articles associated to this issue.</h4>
<% else %>
	<table class="table table-hover">
		<tr>
		  <th>Title</th>
		  <th>Author</th>
		  <th>Headline</th>
		  <th>Date</th>
		  <th>Version</th>
		  <th>Status</th>
		  <!-- th>Text</th -->
		  <th></th>
		  <th></th>
		  <th></th>
		</tr>
	<% articles.each do |article|%>
	    <tr>
	      <td><%= article.title %></td>
	      <td><%= article.author %></td>
	      <td><%= article.headline %></td>
	      <td><%= article.date %></td>
	      <td><%= article.version %></td>
	      <td><%= article.status %></td>
	      <!--td><%= # article.text
	    %></td -->
	      <td><%= link_to 'Show', article %></td>
	      <td><%= link_to 'Edit', edit_article_path(article) %></td>
	      <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    </tr>
	<% end %>
  </table>
	
<% end %>

<% content_for :contextual_menu do %>
	<li><%= link_to 'Back', :back,  class: 'context-menue' %></li>
	<li><%= link_to 'Edit issue', edit_magissue_path(@magissue), class: 'context-menue' %></li>
	<% unless articles.blank? %>
		<li><%= link_to 'Preview', cover_magissue_path(@magissue), target: '_blank', class: 'context-menue' %></li>
	<% end %>
	<li><%= link_to 'Issues', magissues_path, class: 'context-menue' %></li>
	
<% end %>
<!-- <%#= link_to 'Back', magissues_path
 %> -->
