<% @title= "Jaywebmag" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Magazine:</b>
  <%= @magissue.magazine.name %>
</p>

<p>
  <b>Date:</b>
  <%= @magissue.date %>
</p>

<p>
  <b>Volume:</b>
  <%= @magissue.volume %>
</p>

<p>
  <b>Number:</b>
  <%= @magissue.number %>
</p>

<p>
  <b>Status:</b>
  <%= @magissue.status %>
</p>

<p>
  <b>Template:</b>
  <%= @magissue.magtemplate.name %>
</p>


<% content_for :local_menu do %>
<li><%= link_to 'Edit the issue', edit_magissue_path(@magissue) %></li>
<% end %>
<!-- <%#= link_to 'Back', magissues_path
 %> -->
