<h1>Listing magazine issues</h1>

<table>
  <tr>
    
    <th>Date</th>
    <th>Volume</th>
    <th>Number</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @magissues.each do |issue| %>
  <tr>
    
    <td><%= issue.date %></td>
    <td><%= issue.volume %></td>
    <td><%= issue.number %></td>
    <td><%= issue.status %></td>
    <!-- Naoufal -->
    <td><%= link_to 'Read', read_magissue_path(issue) %></td>
    <!-- end Naoufal -->
    <td><%= link_to 'Show', issue %></td>
    <td><%= link_to 'Edit', edit_magissue_path(issue) %></td>
    <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Magazine issue', new_magissue_path %>
