<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= @title || "Jaywebmag" %></title>
    <meta name="description" content="trial">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application", :media => "all"  %>
    <%= csrf_meta_tags %>
    <!--%= yield(:head) %-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
			<%= render 'nav/navigation' %>
         
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container-fluid">
		<div class="row-fluid">
			<div class="span4">
			<!--Sidebar content-->
			<%= render 'nav/navigationside' %>
			</div>
			<div class="span8">
			<%= yield %>
			<!--Body content-->
			<div class="container">
			   <%= debug(params) if Rails.env.development? %>
         
               </div>
			</div>
			
		</div>
		</div>
        </div>
          
          
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
