<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= @title || "Jaywebmag" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
	
    <%= yield(:head) %>
	
    <%= csrf_meta_tags %>
    <!-- [if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif] -->

    
  </head>
  <body>
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "Jaywebmag", '#', class: "logo" %>

        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse collapse">
          <nav>
            <ul class="nav pull-left">
              <li class="divider-vertical"></li>
              <%= yield :local_menu %>

            </ul>
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <li><%= link_to "Home", magissues_path %></li>
              <li class="divider-vertical"></li>
              <!-- Admin menu -->
              <li class="dropdown"><%= link_to ('Admin ' + '<b class="caret"></b>').html_safe, '#', class: "dropdown-toggle", :data => {:toggle => "dropdown"} %>
                <ul class="dropdown-menu" role="menu" aria-labbeldby="dLabel">
                  <li><%= link_to 'New Magazine', new_magazine_path, tabindex: "-1" %></li>
                  <li><%= link_to 'Magazines', magazines_path, tabindex: "-1" %></li>
				  <li><%= link_to 'Sign out', root_path, tabindex: "-1" %></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div id="main" role="main">
    <div class="container">
      <div class="row"><!-- <div class="row-fluid"> -->
        <div class="span3">
          <!-- Sidebar content -->
          <%= render 'nav/navigationside' %>
        </div>
        <div class="span9">
			<div class="navbar">
			  <div class="navbar-inner">
			    <!-- <a class="brand" href="#">Title</a> -->
			    <ul class="nav">
					<%= yield :contextual_menu %>
			    </ul>
			  </div>
			</div>
          <%= yield %>
          <!-- Body content -->
          <!-- <div class="container">
          						  <%#= debug(params) if Rails.env.development?
                                    %>
          
          					  </div> -->
        </div>

        <!--</div>-->
      </div>
    </div>
  </div>

  <footer>

  </footer>

  <!-- ! end of .container -->
  <!-- ! end of #main -->
  </body>
</html>
