<!DOCTYPE html>
<html class="no-js no-treesaver">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />

  <!--title>Jaywebmag</title-->
  <!--%= stylesheet_link_tag    "ts_test", :media => "all" % -->
  <!--%= stylesheet_link_tag("ts_test") %>
  <!--link rel="resources" href="/resources.html.erb"/-->
  <!--%= javascript_include_tag("treesaver.js") %-->

  <!-- script src="javascripts/treesaver.js"></script-->
  <!--%= javascript_include_tag "application" % -->
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>

<body>
<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <%= render 'nav/navigation' %>

    </div>
  </nav>
</header>
<div id="main" role="main">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        <!--Sidebar content-->
        <%= render 'nav/navigationside' %>
      </div>
      <div class="span8">
        <%= yield :nontreesaver %>
        <!--Body content-->
        <div class="container">
          <%= debug(params) if Rails.env.development? %>

        </div>
      </div>

    </div>
  </div>
</div>


<footer>
</footer>
</div>
</div> <!--! end of .container -->
</div> <!--! end of #main -->

<%= yield :treesaver %>

</body>
</html>